body
{
    margin: 20;
    padding: 20;
    background: #9fbfdf;
}
img 
{
    pointer-events: none;
}
canvas {
    border: 1px solid black;
}
#puck
{
    max-width: 100px;
    max-height: 100px;
    opacity: 0.8;
    visibility: hidden;
}
#magnet
{
    max-width: 50px;
    max-height: 50px;
    visibility: hidden;
}